<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]--><!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]--><!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]--><!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="en"><!--<![endif]--> 
    <head>
        <meta charset="utf-8">
        <title>Login - Akira</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/admin/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="/static/admin/css/site.css" rel="stylesheet">
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>
    <body>
        <div id="login-page" class="container">
            <h1>管理员登录</h1>
            <form id="login-form" class="well" action="" method='POST'>
                <input type="text" name="name" class="span2" placeholder="管理员帐号" /><br />
                <input type="password" name="pwd" class="span2" placeholder="密码" /><br />
                <label class="checkbox"> <input type="checkbox" /> 记住我 </label>
                <button type="submit" class="btn btn-success">登录</button>
                <a href="javascript:;" class="btn btn-info">注册</a>
            </form> 
        </div>
        <script src="/static/admin/js/jquery.min.js"></script>
        <script src="/static/admin/js/bootstrap.min.js"></script>
        <script src="/static/admin/js/site.js"></script>
    </body>
</html>